* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka';
    background-color: #fff;
    position: relative;
}

.header {
    position: relative;
    z-index: 1;
    min-width: 1310px;
    min-height: 80px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.header-content {
    min-width: 1310px;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 30px 0;
    border-radius: 15px;
}

.advertisement {
    min-width: 160px;
    min-height: 600px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 1;
}

.screen {
    min-width: 930px;
    min-height: 600px;
    margin: 0 30px;
    position: relative;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    background-color: #fff;
    /* 3D */
    perspective: 4000px;
    z-index: 2;
}

.container {
    position: absolute;
    right: 0;
    width: 465px;
    height: 600px;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.login,
.register {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register {
    /* Hide */
    transform: rotateY(180deg);
}

button,
input {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: block;
}

h1,
h2 {
    padding: 0;
    margin: 15px;
    font-weight: normal;
}

input {
    width: 80%;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.container span {
    width: 75%;
}

.button-container {
    display: flex;
    gap: 30px;
    width: 80%;
    padding: 15px 0;
}

.login button,
.register button {
    width: 50%;
    padding: 15px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.confirm {
    color: #fff;
    transition: background-color 0.3s ease;
    background-color: #A5D6A7;
}

.confirm:hover {
    background-color: #81C784;
}

.confirm:active {
    background-color: #66BB6A;
}

.news-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.news-content {
    cursor: auto;
    position: fixed;
    top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 930px;
    min-height: 600px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.news-content span,
.news-content h1 {
    padding: 0;
    margin: 7.5px;
}

form {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

*:focus {
    outline: none;
    border: none;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 75%;
}

input[type="checkbox"] {
    margin: 0;
    margin-right: 7.5px;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: #fff;
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 5px;
    outline: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: background-color 0.3s ease;
}

input[type="checkbox"]:checked {
    background-color: #87CEFA;
}

.game {
    min-width: 930px;
    min-height: 600px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logout-success,
#delete-success {
    display: none;
    color: green;
}

.opacity {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 10;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    perspective: 4000px;
}

.logout-container {
    position: fixed;
    top: 110px;
    left: calc(50% - 232.5px);
    width: 465px;
    height: 600px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 11;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.logout-content,
.delete-content {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-in-out;
    background: #fff;
    cursor: default;
    z-index: 12;
}

.delete-content {
    /* Hide */
    transform: rotateY(180deg);
}

.logout-container span,
.delete-content span {
    width: 75%;
}

.logout-content button,
.delete-content button {
    width: 50%;
    padding: 15px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.red {
    color: #fff;
    background-color: #EF9A9A;
    transition: background-color 0.3s ease;
}

.red:hover {
    background-color: #E57373;
}

.red:active {
    background-color: #EF5350;
}

.rps-container {
    cursor: auto;
    padding: 30px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.rps-container h1 {
    margin: 0;
}

.choice {
    display: inline;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.choice img {
    width: 100px;
    transition: transform 0.3s ease;
}

.choice:hover img {
    transform: scale(1.1);
}

.choice:active img {
    transform: scale(1);
}

.replay {
    color: #fff;
    transition: background-color 0.3s ease;
    background-color: #a5d6a7;
    cursor: pointer;
    width: 50%;
    padding: 15px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.replay:hover {
    background-color: #81c784;
}

.replay:active {
    background-color: #66bb6a;
}

.result-text {
    color: black;
}

.result-win {
    color: green;
}

.result-loss {
    color: red;
}

.result-draw {
    color: orange;
}

.game-overlay {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#game {
    position: relative;
}

.coin-display,
h2,
.coin-display span {
    position: absolute;
    top: 12.5px;
    right: 20px;
    color: #E6BE8A;
    margin: 0;
    padding: 0;
}

.num-container {
    cursor: auto;
    padding: 30px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.num-container h1 {
    margin: 0;
}

.input-guess-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.input-style,
.guess-button {
    flex: 1;
    padding: 15px;
    margin: 7.5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 15px;
    text-align: center;
}

.guess-button {
    background-color: #64B5F6;
    color: white;
    border: none;
    cursor: pointer;
}

.guess-button:hover {
    background-color: #42A5F5;
}

.guess-button:active {
    background-color: #2196F3;
}

.confirm,
.red {
    flex: 0 0 calc(60% - 15px);
}

.button-container button:not(.confirm):not(.red) {
    flex: 0 0 calc(40% - 15px);
}

.game button {
    margin-bottom: 7.5px;
}

.game-section,
.shop-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Basic Theme(s) */
.red-theme,
.red-theme body {
    background-color: #FFB3B3;
}

.green-theme,
.green-theme body {
    background-color: #C4E1CC;
}

.blue-theme,
.blue-theme body {
    background-color: #B8DBF2;
}

/* Secret Theme(s) */
.gold-theme,
.gold-theme body {
    background-color: #E6BE8A;
}

.diamond-theme,
.diamond-theme body {
    background-color: #E0FFFF;
}

/* Sparkle(s) */
.star {
    --size: 20vmin;
    width: var(--size);
    height: var(--size);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: .5em;
    --mask: radial-gradient(var(--holes) at var(--holes) var(--holes), #0000 99%, #000) calc(var(--holes)*-1) calc(var(--holes)*-1);
    -webkit-mask: var(--mask);
    mask: var(--mask);
    position: fixed;
    background: #fff;
    animation: sparkle 1s linear forwards;
}

@keyframes sparkle {

    0%,
    100% {
        opacity: 0;
        transform: scale(0);
        transform: rotate(45deg);
    }

    20%,
    80% {
        opacity: 1;
        transform: scale(1);
        transform: rotate(45deg);
    }
}
